body {
    background-image: url("images/WoodenFrameBackground.jpg");
    background-size: cover;
}

button.logout-btn {
    background-color: #b7410e;
    color: #0e84b7;
    width: 7.5%;
}

form.input {
    height: 50%;
}

fieldset {
    background-color: #b7410e;
    border: 2px outset gray;
    border-radius: 10px;
    color: #0eb741;
}

ul {
    margin-top: 20px;
}

li {
    margin-top: 10px;
}

/*
Test.html stuff
*/

div.container {
    width: 100%;
    height: 100%;
    /*border: 4px solid green;*/
    display: flex;
    flex-direction: column;
}

div.logout {
    width: 100%;
    /*border: 2px solid blue;*/
}

div.icon {
    width:100%;
    height: 100%;
    flex-grow: 1;   
    /*border: 2px solid orange;*/
    text-align: center;
}

div.inputs {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    /*border: 3px solid red;*/ 
}

h1.title {
    font-weight: bold;
    margin-left: 2px;
}

input.submit-btn {
    width: 100%;
}

tr.centered {
    align-self: center;
}

p.error {
    color: red;
}

div.frame-test {
    width: 35%;
    height: 35%;
    /*border: 5px solid red;*/
    /*background-image: url("images/LightsFrame.JPG");*/
    background-size: 100%, 100%;
}

img.logo_login {
    position: relative;
    margin-left: 5px;
    left: 5px;
}

.logo {
    border: 3px solid red;
    width: 50%;
    height: 50%;
}


/*
Styling for all levels in games
*/
.games{
    align: center;
}

div.games{
    margin: auto;
}

div.games table, th, td {
    /*border: 5px solid black*/
    border: transparent;
    border-collapse: collapse;
}

div.games input{
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none; 
    background-color: transparent;
    /*color: blue;*/
    color:transparent;
    font-size: 20px;
}

div.games img{
    position: absolute;
    z-index: -1;
}

.level1_image, .level2_image{
    width: 950px;
}

.level3_image{
    width: 700px;
}

.leadersboard td, th{
    border: 2px solid black;
}
